@model PagedList.IPagedList<BradescoPGP.Web.Models.CarteiraClienteTopTierViewModel>
@using BradescoPGP.Web.Lib
@using BradescoPGP.Common
<div class="box box-danger m-b-5">
    <div class="box-header">
        <h3 class="box-title">Busca Rápida</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <form method="get" action="@Url.Action("Index","CarteiraClienteTopTier")" id="form-pesquisa-carteira-cliente">
        <div class="box-body with-border">
            <div class="form-inline custom-search-inputs">
                <div class="row relative">

                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Especialista">Especialista</label>
                            @Html.DropDownList("Especialista", ((List<SelectListItem>)ViewBag.Especialistas).OrderBy(o => o.Value), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="agencia">Agencia</label>
                            <input type="number" id="agencia" name="Agencia" value="@(ViewBag.FiltroAtual?.Agencia)" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="conta">Conta</label>
                            <input type="number" id="conta" name="Conta" value="@(ViewBag.FiltroAtual?.Conta)" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 m-b-10">
                        <div class="form-group">
                            <label for="equipe">Ação</label>
                            @Html.DropDownList("Acao", (List<SelectListItem>)ViewBag.Acoes, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <br />
                        <button class="btn btn-danger">Buscar</button>
                        <a href="@Url.Action("Index", "CarteiraClienteTopTier")" class="btn btn-default">Limpar filtros</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="box no-border">
            <div class="box-header no-border">
                <div class="pull-right"><small>Data da última importação: @ViewBag.UltimaImportacao</small></div>
            </div>
            <div class="box-body">
                <div style="overflow-x: scroll">
                    <table id="table-carteira-cliente-top-tier" class="table table-hover display">
                        <thead>
                            <tr>
                                <th>Especialista</th>
                                <th>Agencia</th>
                                <th>Conta</th>
                                <th>CPF</th>
                                <th>Gerente Relacionamento</th>
                                <th>Nível Desenquadro</th>
                                <th>Perfil API</th>
                                <th>Ação Principal</th>
                                <th>Saldo Total</th>
                                <th>Saldo Previdência</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var carCli in Model)
                            {
                            <tr>
                                <td>@carCli.Especialista</td>
                                <td>@carCli.Agencia</td>
                                <td>@carCli.Conta</td>
                                <td>@carCli.CPF</td>
                                <td>@carCli.GER_RELC</td>
                                <td>@carCli.NIVEL_DESENQ_FX_RISCO</td>
                                <td>@carCli.PERFIL_API</td>
                                <td>@carCli.ACAO_PRINCIPAL</td>
                                <td>@carCli.SALDO_TOTAL.ToString("N2", new CultureInfo("pt-br"))</td>
                                <td>@carCli.SALDO_PREVIDENCIA.ToString("N2", new CultureInfo("pt-br"))</td>
                                <td>@carCli.ACAO</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <span>Foram encontrados @ViewBag.Count.ToString("N0")  resultados</span>
                </div>

                @if (Model.Count > 0)
                {
                    <a class="btn btn-sm btn-success" href="#" onclick="exportarExcel()"> <i class="fa fa-table"></i> Exportar Excel</a>
                }

                @{
                    var options = new PagedList.Mvc.PagedListRenderOptions
                    {
                        ContainerDivClasses = new List<string> { "dataTables_paginate paging_simple_numbers pull-right" },
                        UlElementClasses = new List<string> { "pagination" },
                        LiElementClasses = new List<string> { "paginate_button" }
                    };

                    @Html.PagedListPager(Model, page => Url.Action("Index", "CarteiraClienteTopTier", new { page, ViewBag.FiltroAtual?.Agencia, ViewBag.FiltroAtual?.Conta, ViewBag.FiltroAtual?.Especialista, ViewBag.FiltroAtual?.Gerente, ViewBag.FiltroAtual?.Acao }), options)
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function redirecionarHome(ele) {
            $(ele).css({ 'background-color': '#f69595'})
            var agencia = $($(ele).children()[1]).text()
            var conta = $($(ele).children()[2]).text()
            window.location.href = '@Url.Action("RedirecionarHome","Home")?agencia=' + agencia + '&conta=' + conta;
        }

        function exportarExcel() {
            var especialista = '@Request.Params.Get("Especialista")';
            var conta = '@Request.Params.Get("Conta")';
            var agencia = '@Request.Params.Get("Agencia")';
            var acao = '@Request.Params.Get("Acao")';

            var link = `@Url.Action("ExportarExcel", "CarteiraClienteTopTier")?especialista=@Html.Raw(Request.Params.Get("especialista"))&agencia=${agencia}&conta=${conta}&acao=${acao}`;
            window.open(link, '_blank');
        }

        $(document).ready(() => {

            core.home.efeitoSelecaoLinha('#table-carteira-cliente');

            $('#table-carteira-cliente-top-tier').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ resultados por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "",
                    "infoFiltered": "",
                    "infoEmpty": "Nehum dado disponivel",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sLast": "Ultimo",
                        "sNext": "Próximo",
                        "sPrevious": "Anterior"
                    },
                },
                fixedHeader: true,
                searching: false,
                paging: false,
                ordering: false,
                //order:[[7, 'desc']],
                columns: [
                    { data: 'Especialista' },
                    { data: 'Agencia' },
                    { data: 'Conta' },
                    { data: 'CPF' },
                    { data: 'GER_RELC' },
                    { data: 'NIVEL_DESENQ_FX_RISCO' },
                    { data: 'PERFIL_API' },
                    { data: 'ACAO_PRINCIPAL' },
                    { data: 'SALDO_TOTAL' },
                    { data: 'SALDO_PREVIDENCIA' },
                    { data: 'ACAO' },
                ],
                columnDefs: [
                    { width: '150px', targets:0 },
                    { width: '200px', targets:3 },
                    { width: '100px', targets:4 },
                    { width: '140px', targets:5 },
                    { width: '120px', targets:8 },
                    //{ width: '50px', targets:1 },
                ],
            })

            $('#form-pesquisa-carteira-cliente').submit(function (e) {
                var elementos = $('#form-pesquisa-carteira-cliente input, #form-pesquisa-carteira-cliente select');
                var dados = {}

                $.each(elementos, function (i, v) {
                    dados[v.name] = v.value;
                })

                if (dados.Especialista == "" && dados.Agencia == "" && dados.Conta == "" && dados.Gerente == "" && dados.Equipe == "") {
                    e.preventDefault();
                    core.notify.showNotify("Preencha algum campo para poder realizar uma busca filtrada.", "info", "top-center");
                    return;
                }
                if (dados.Especialista == "" && dados.Agencia == "" && dados.Conta != "" && dados.Gerente == "" && dados.Equipe == "") {
                    e.preventDefault();
                    core.notify.showNotify("Não é possivel realizar pesquisa apenas pela conta, informe agencia e conta ou apenas agencia", "info", "top-center");
                    return;
                }

            });
        })
    </script>
}